body {
    padding-top: 60px;
    padding-left: 10%;
    padding-right: 10%;
    align-content: center;
    text-align: center;
    height: 100%;
}

h1 {
    align-content: center;
}

.filters {
    align-content: left;
}

#filters-form{
    padding-top: 30px;
}

.control-buttons{
    align-content: right;
}